{% load static %}
    
<footer class="rodape">
    <div class="container">
        <img class="rodape-imagem" src="{% static 'img/logo-imdb.jpg' %}" alt="" />

        <ul class="rodape-lista">
            <li class="rodape-lista-item icone-twitter">
                <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li class="rodape-lista-item icone-facebook">
                <a href="#">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </a>
            </li>
            <li class="rodape-lista-item icone-instagram">
                <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>