{% load static %}
<nav class="catalogo-menu">
    <div class="container">
        <ul class="catalogo-menu-lista">
            <li class="catalogo-menu-lista-item">
                <a href="#">Nos Cinemas</a>
            </li>
            <li class="catalogo-menu-lista-item"><a href="#">Em breve</a></li>
            <li class="catalogo-menu-lista-item"><a href="#">Bilheteria</a></li>
            <li class="catalogo-menu-lista-item"><a href="#">Séries</a></li>
            <li class="catalogo-menu-lista-item"><a href="#">Trailers</a></li>
        </ul>
    </div>
</nav>
