{% extends 'dashboard/base.html' %}
{% load static %}


{% block management %}
<div class="section-header">
    <div class="slider-outer">
        <div class="slider-inner">
            <div class="  statistic fron active" data-slider="1">
                <i class="fas fa-search"></i>
				
                <div class="statistic-title">Séries</div>
                <h2 class="title-statistic-h2">Search</h2>
                              
            </div>
        </div>
    </div>
</div>

  <div class="section-body">
      	<h2 class="section-title">Pesquisando Novas séries para adicionar</h2>
            <div class="row">
                {% if serie_data.Search %}
                {% for serie in serie_data.Search %}           
              <div class="col-12 col-md-4 col-lg-4">
                <li  class="catalogo-filmes-lista-modificado ">
                    <figure class="filme-poster">
                       <a href="{% url 'serie:serie-details' serie.imdbID %}"><img src="{{ serie.Poster }} alt="img" /></a> 
                        <div class="filme-poster-info">
                            <h3>{{serie.Title }}</h3>
                            <a href="{% url 'serie:serie-details' serie.imdbID %}" class="filme-poster-link"
                                ><i class="fa fa-play" aria-hidden="true"></i
                            ></a>
                        </div>
                    </figure>

                    <div class="filme-sinopse">
                        <a href="{% url 'serie:serie-details' serie.imdbID %}"><h3 class="filme-sinopse-titulo">{{ serie.Title }}</h3></a>
                        <p class="sinopse-genero">                          
                            <a href="#" class="sinopse-genero-item">{{ serie.Type }}</a>                          
                        </p>
                        <p class="filme-nota">
                            <i class="fa fa-heart" aria-hidden="true"></i> {{ serie.Year }}
                        </p>
                    </div>
                </li>
            </div>
              {% endfor %}
              {% else %} 
              <div class="col-12 col-md-12 col-sm-12">
               
                <div class="card">
                  <div class="card-header">
                    <h4>Ops....</h4>
                  </div>
                  <div class="card-body">
                    <div class="empty-state" data-height="600" style="height: 600px;">
                      <img width="499" class="img-fluid" src="{% static 'img/drawkit-full-stack-man-colour.svg' %}" alt="image">
                      <h2 class="mt-0">Pesquisa para adicionar novos filmes podemos alcançar o servidor</h2>
                      <p class="lead">
                       Faça novas pesquisa para adiciona novos filmes para seu catalogo de filmes.
                      </p>
                      
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
             
		
  </div>

{% endblock %}