{% extends 'managersettings/settings_profile/base.html' %}
{% load static %}

{% block breadcrumb %}
    {{ block.super }}
    <li>/</li>
    <li><a href="{% url 'accounts:edit_password' %}">Editar Senha</a></li>
{% endblock %}

{% load bootstrap4 %}


{% block profile %}


<section class="section section--modifier">        

    <div class="section-body section-body-modifier">
      <h2 class="section-title">Alteração de senha do usuário</h2>
      <p class="section-lead">
        Você pode alterar sua senha, 
      </p>           
      <div class="row">              
        <div class="col-12 col-md-6 col-lg-6">
          <div class="card clientes-form">
              {# Display a form #}
          <form style = "margin-left:36px; margin-right:36px;"  action="." method="post" >
          <div style = "position:relative; right:40px;" class="card-header">
                  <h4>Validação da nova senha do usuários</h4>
                  </div>
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                  <button type="submit" class="btn btn-primary">Enviar</button>
              {% endbuttons %}
          </form>
          </div>                
        </div>
      </div>
    </div>
  </section>
</form>
{% endblock %}