{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<title>IMDB - Classificações, Críticas e Onde Assistir os Melhores Filmes e Programas de TV</title>
		<meta name="description" content="" />
		<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />

		<!------------FONTAWESOME------------------------>
		<script src="https://kit.fontawesome.com/55bcbae4d6.js" crossorigin="anonymous"></script>
	</head>
	<body>
		{% include 'include/navbar.html' %}
    {% block index %}



    {% endblock %}
    {% include 'include/footer.html' %}

	<script src="{% static  'js/mean.js' %}"></script>
    </body>
    </html>
